@model Companies.Models.Company

@using (Html.BeginForm())
{
    <div class="container">
        <div>
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="control-label">@Html.LabelFor(model => model.Name)</div>
                <div>
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">@Html.LabelFor(model => model.Earning)</div>
                <div>
                    @Html.EditorFor(model => model.Earning)
                    @Html.ValidationMessageFor(model => model.Earning)
                </div>
            </div>
            <div class="form-group">
                <div class="control-label">@Html.Label("Parent company")</div>
                @Html.DropDownListFor(model => model.ParentId, ViewBag.CompaniesList as SelectList, "none")
            </div>
        </div>
    </div>
}

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")


